{% extends 'base.html' %}
{% load static %}

{% block title %}
    Lista de Paquetes
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">  <!-- Agregar márgenes arriba y abajo -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">{{ mensaje }}</h2>
                </div>
                <div class="card-body">
                    <p class="lead">¡Gracias por tu compra! Tu pago ha sido procesado con éxito.</p>
                    <p class="lead">Presiona el siguiente boton para descargar y una copia será enviada a {{user.email}}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a id="productos_btn" href="{% url 'generar_pdf_productos' %}" class="btn btn-outline-primary" target="_blank">Obtener productos PDF</a>
                        </li>
                        <li class="list-group-item">
                            <a id="derivaciones_btn" href="{% url 'generar_pdf_derivaciones' %}" class="btn btn-outline-primary" target="_blank">Obtener derivaciones PDF</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Verificar si el botón de productos debe estar deshabilitado
    var productosBtn = document.getElementById("productos_btn");
    var productosBtnDisabled = "{{ request.META.HTTP_X_BUTTON_DISABLED|default_if_none:'' }}";
    if (productosBtnDisabled === 'true') {
        productosBtn.disabled = true;
    }

    // Verificar si el botón de derivaciones debe estar deshabilitado
    var derivacionesBtn = document.getElementById("derivaciones_btn");
    var derivacionesBtnDisabled = "{{ request.META.HTTP_X_BUTTON_DISABLED|default_if_none:'' }}";
    if (derivacionesBtnDisabled === 'true') {
        derivacionesBtn.disabled = true;
    }
</script>

{% endblock %}