{% extends 'base.html' %}
{% load static %}

{% block title %}
    Lista de Paquetes
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">  <!-- Agregar márgenes arriba y abajo -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">{{ mensaje }}</h2>
                </div>
                <div class="card-body">
                    <p class="lead">¡Gracias por tu compra! Tu pago ha sido procesado con éxito.</p>
                    <p class="lead">una copia será enviada a {{user.email}}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'generar_pdf_productos' %}" class="btn btn-outline-primary" target="_blank">Descargar productos PDF</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'generar_pdf_derivaciones' %}" class="btn btn-outline-primary" target="_blank">Descargar derivaciones PDF</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
