{% extends 'base.html' %}
{% load static %}

{% block title %}
    Lista de Exámenes
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="mb-4">Exámenes disponibles</h1>
            <div class="container mt-3">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% for producto in productos %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">Precio: {{ producto.categoria.precio }}</p>
                    {% if user.is_authenticated %}
                    <form class="agregar-al-carrito-form" data-producto-id="{{ producto.id }}" method="post" action="{% url 'agregar_al_carrito' %}">
                        {% csrf_token %}
                        <input type="hidden" name="elemento_id" value="{{ producto.id }}">
                        <input type="hidden" name="tipo" value="diagnostico">
                        <button type="button" class="btn btn-primary btn-sm agregar-al-carrito-btn" onclick="agregarAlCarrito('{{ producto.id }}', this); this.disabled=true;">
                            Agregar al carrito
                        </button>
                    </form>
                    {% else %}
                      <button type="button" onclick="agregarAlCarrito('{{ producto.id }}')">Agregar al carrito</button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <a href="{% url 'resumen_carrito' %}" class="btn btn-info mt-3">Ver Resumen del Carrito</a>
        </div>
        <div class="col-md-6">
            <h2>¿Por qué solicitar {{ categoria.nombre }}?</h2>
            <p>{{ categoria.descripcion }}</p>
        </div>
    </div>
</div>



<script>
    function agregarAlCarrito(productoId, button) {
        // Verificar si el usuario está autenticado
        {% if user.is_authenticated %}
            // Si está autenticado, enviar el formulario correspondiente usando AJAX
            var form = button.closest('form') || document.querySelector('.agregar-al-carrito-form[data-producto-id="' + productoId + '"]');
            var formData = new FormData(form);
    
            // Crear una instancia de XMLHttpRequest
            var xhr = new XMLHttpRequest();
    
            // Configurar la solicitud AJAX
            xhr.open('POST', form.action);
    
            // Definir lo que sucede en la respuesta del servidor
            xhr.onload = function () {
                if (xhr.status === 200) {
                    // La solicitud fue exitosa, realizar acciones adicionales si es necesario
                    button.disabled = true;
                    button.innerText = 'Agregado';
                    setTimeout(function () {
                        button.disabled = false;
                        button.innerText = 'Agregar al carrito';
                    }, 50000); // Después de 5 min, habilitar el botón nuevamente
                } else {
                    // La solicitud falló, mostrar un mensaje de error si es necesario
                    console.error('Error al agregar el producto al carrito');
                }
            };
    
            // Enviar la solicitud AJAX con los datos del formulario
            xhr.send(formData);
        {% else %}
            // Si no está autenticado, mostrar un mensaje de alerta
            alert('Necesitas estar logeado para agregar productos al carrito.');
            // Redirigirlo a la página de inicio de sesión con el parámetro 'next' para regresar a la página actual después del inicio de sesión
            window.location.href = "{% url 'login' %}?next={{ request.path }}";
        {% endif %}
    }
</script>

{% endblock %}
