{% extends 'base.html' %}
{% block title %}
    Carrito de Compras
{% endblock %}

{% block content %}
{% if elementos_carrito %}
    <h2>Carrito de Compras</h2>
    <ul>
    {% for elemento in elementos_carrito %}
        <li>
            <strong>Paquete:</strong> {{ elemento.paquete.nombre }} - Costo: ${{ elemento.paquete.costo_fijo }}<br>
            <strong>Exámenes:</strong><br>
            <ul>
            {% for examen in elemento.paquete.examenes.all %}
                <li>{{ examen.nombre }}</li>
            {% endfor %}
            </ul>
            <strong>Cantidad:</strong> {{ elemento.cantidad }}
            <form method="post" action="{% url 'quitar_del_carrito' elemento.id %}">
                {% csrf_token %}
                <button type="submit">Quitar del carrito</button>
            </form>
        </li>
    {% endfor %}
    </ul>
    <p>Total: ${{ total }}</p>
{% else %}
    <p>El carrito está vacío.</p>
{% endif %}
{% endblock %}
