{% extends 'base.html' %}
{% load static %}

{% block title %}
    Mi cuenta
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="mb-4">Bienvenido, {{ usuario.nombre }}</h4>
                    <div class="mt-4">
                        <a href="{% url 'historico' %}" class="btn btn-primary rounded-pill">
                            Ver compras realizadas
                        </a>
                    </div>
                    <div class="mt-4">
                        <a href="{% url 'editar_perfil' %}" class="btn btn-primary rounded-pill">
                            Editar perfil
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
