{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5"> <!-- Agregar márgenes arriba y abajo -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'assets/img/logo.jpeg' %}" alt="Nuuk Medical" style="display: block; margin: 20px auto 10px; height: 150px;">
                    <h1 class="card-title text-center mb-4">Iniciar sesión</h1>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.username.id_for_label }}">Usuario</label>
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.password.id_for_label }}">Contraseña</label>
                                    {{ form.password }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="next" value="{{ next }}">
                            <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>


                        </div>
                        <input type="hidden" name="next" value="{{ next }}" />
                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            Su Nombre y Contraseña no coinciden. Por favor intente de nuevo.
                        </div>
                        {% else %}
                        <p class="text-center mt-3">
                            Si aún no está registrado, puede <a href="{% url 'registro' %}">registrarse aquí</a>.
                        </p>
                        {% endif %}
                    </form>
                    <p class="text-center mt-3">
                        ¿Olvidó su contraseña? <a href="{% url 'password_reset' %}">Restablecer contraseña</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
