{% extends "base.html" %}
{% block title %}Confirmar restablecimiento de contraseña{% endblock %}

<div class="columns">
  {% block content %}
  <div class="column is-half">
    <h1 class="is-size-3 mt-3">Confirmar restablecimiento de contraseña</h1>
    <p>Por favor, ingrese su nueva contraseña para confirmar el restablecimiento de contraseña.</p>
    <div class="password-reset-confirm-form">
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Restablecer contraseña" class="button mt-2">
      </form>
    </div>
  </div>
  {% endblock %}
</div>
