{% extends "base.html" %}
{% block title %}Restablecer contraseña{% endblock %}

<div class="columns">
  {% block content %}
  <div class="column is-half">
    <h1 class="is-size-3 mt-3">Restablecer contraseña</h1>
    <p>Por favor, ingrese su dirección de correo electrónico y le enviaremos instrucciones sobre cómo restablecer su contraseña.</p>
    <div class="password-reset-form">
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enviar correo electrónico de restablecimiento" class="button mt-2">
      </form>
    </div>
  </div>
  {% endblock %}
</div>
