{% extends 'base.html' %}
{% load static %}

{% block title %}
    Crear cuenta
{% endblock %}

{% block content %}
<!-- Enlace a Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<style>
    /* Estilos personalizados */
    .registro-container {
        width: 500px; /* Aumentar el ancho */
        margin: auto;
        padding: 20px;
        background-color: #f0f8ff; /* Azul claro */
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Sombra */
        margin-top: 50px; 
        margin-bottom: 50px; 
    }
    h1 {
        text-align: center;
    }
    p{
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        
    }
    label {
        margin-bottom: 5px;
    }
    input, select {
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%; /* Asegurar que los campos llenen el contenedor */
    }
    button {
        padding: 10px 20px;
        background-color: #4CAF50; /* Verde */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }
    .message {
        margin-top: 20px;
        text-align: center;
    }
    
</style>

<div class="registro-container">
    <h1>Crear cuenta</h1>
    <p>Los campos marcados con <span style="color:red">*</span> son obligatorios.</p>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>¡Atención!</strong> {{ form.non_field_errors }}
            </div>
        {% endif %}
        {% for field in form %}
            {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }} {% if field.field.required %}<span style="color:red">*</span>{% endif %}:
                </label>
                {% if field.name == "fecha_nacimiento" %}
                    <div class="input-group date" id="fecha_nacimiento">
                        {{ field }}
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            </div>
        {% endfor %}
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="terminosCheckbox" name="terminosCheckbox">
            <label class="form-check-label" for="terminosCheckbox">Acepto los <a href="{% static 'terminos_condiciones.pdf' %}" target="_blank">términos y condiciones</a></label>
            {% if form.terminosCheckbox.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.terminosCheckbox.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <button type="submit">Registrarse</button>
    </form>
    <p class="message">¿Ya tienes una cuenta? <a href="{% url 'login' %}">Iniciar sesión</a></p>
</div>


{% endblock %}
