{% extends 'base.html' %}
{% load static %}

{% block title %}
    Exámenes Mujer - Mediweb
{% endblock %}

{% block content %}
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            {% for cuadro in cuadros %}
                <div class="col-lg-3">
                    <a href="{% url cuadro.ruta %}" style="text-decoration: none;">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="feature-box rounded p-3 bg-custom"> <!-- Cuadro de características con bordes curvos y fondo de color personalizado -->
                                <h3 class="text-white">{{ cuadro.titulo }}</h3> <!-- Texto blanco para el título -->
                                <p class="lead mb-0 text-white">{{ cuadro.contenido }}</p> <!-- Texto blanco para el contenido -->
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<style>
    .feature-box {
        border-radius: 10px; /* Bordes curvos */
        color: rgb(0, 0, 0); /* Color del texto */
        cursor: pointer; /* Cambia el cursor al pasar sobre el cuadro */
    }

    .bg-custom {
        background-color: rgb(119, 188, 215); /* Color de fondo personalizado */
    }
</style>

{% endblock %}