{% extends 'base.html' %}
{% load static %}

{% block title %}
    Exámenes Mujer - Mediweb
{% endblock %}

{% block content %}
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Examen</th>
                            <th scope="col">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for examen in examenes %}
                            <tr>
                                <td>{{ examen.nombre }}</td>
                                <td>{{ examen.descripcion }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</div>
{% endblock %}
