{% extends "base.html" %}
{% block title %} Crear cuenta{% endblock %}
{% block content %}
<h1> Crear una cuenta</h1>
<p> Utilizar el formulario para crear su cuenta </p>
<form action="{% url 'login' %}" method="post">
    {% load widget_tweaks %}
          {{ user_form.first_name.label_tag }} {% render_field user_form.first_name class+="input mt-2"%} <br>
          {{ user_form.email.label_tag }} {% render_field user_form.email class+="input mt-2"%} <br>
          {{ user_form.password.label_tag }} {% render_field user_form.password class+="input mt-2"%} <br>
          {{ user_form.password2.label_tag }} {% render_field user_form.password2 class+="input mt-2"%}<br>
          {% csrf_token %}
          <input type="submit" value="Create my account" class="button mt-2 is-link">
          <input type="reset" value="Limpiar campos" class="button">
  </form>
{% endblock %}